<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Home</h1>
             </div></br></br></br>
            <h2 class="word">
                <p> Welcome {{ name }} !!!</p>
                <a href="{{ url_for('logout') }}" ><button id="myButton" onclick ="/logout" class="float-left submit-button" >Logout</button></a>
            </h2>
          </div>
        </div>
    </body>
</html>